*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --naranja: #FF5E14;
    --tarjetas-fondos: #1A1A1A;
    --color-texto: #888888;
    --color-fondo: #0D0D0D;
    --color-bordes: rgba(255, 255, 255, 0.08);
    --color-sombras: rgba(194, 60, 0, 0.35);
    --color-borde-naranja: #C23C00;
    --fondo-inputs: #2A2A2A;
    --fonts-titulos: "Anton", sans-serif;
    --borde-redondeado: 10px;
    --borde-redondeado-inputs: 15px;
    --fonts-subtitulos: "Teko", sans-serif;
    --fonts-textos: Arial, sans-serif;
    --input-seleccionado: rgba(194, 60, 0, 0.1);
}
body{
    background: var(--color-fondo);
}
header{
    height: 70px;
    padding: 10px;
    border-bottom: 1px solid var(--color-bordes);
    display: flex;
    position: fixed;
    background: var(--color-fondo);
    width: 100vw;
    z-index: 100;
}
#logo{
    height: 100%;
}
.orange{
    color: var(--naranja);
}
.titulo{
    margin-top: 3rem;
    display: block;
    font-size: 0.8rem;
    text-align: center;
}
.hero{
    height: 100vh;
    background:
        linear-gradient(
            to bottom,
            rgba(13,13,13,.25),
            rgba(13,13,13,.85),
            #0D0D0D
        ),
        url("../assets/Fondo/fondo.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-flow: column;
    border: none;
}
h1{
    font-family: var(--fonts-titulos);
    color: white;
    font-size: 2.3rem;
}
.caracteristicas, .crear-perfil{
    width: 90vw;
    height: auto;
    padding: 20px;
    background: var(--tarjetas-fondos);
    margin: 1rem auto;
    border-radius: var(--borde-redondeado);
    border: 1px solid var(--color-bordes);
    color: var(--color-texto);
}
.caracteristicas p, li{
    letter-spacing: 1px;
    font-family: var(--fonts-textos);
}
.crear-perfil{
    margin-bottom: 2rem;
}
h2, h3{
    font-family: var(--fonts-subtitulos);
    margin-bottom: 10px;
    color: white;
}
.lista-ventajas{
    list-style: none;
}
.lista-ventajas li{
    margin: 10px auto;
}
.lista-ventajas li::before{
    content: " ► ";
    color: var(--naranja);
}
.frase-motivadora{
    font-family: var(--fonts-titulos);
    color: white;
    text-align: center;
    font-size: 1.8rem;
    margin: 3rem auto;
}
form h3{
    margin: 20px auto;
    font-size: 1.8rem;
    text-align: center;
}
form{
    font-family: var(--fonts-textos);
}
.legend{
    font-size: 0.8rem;
}
hr{
    border: 0.3px solid var(--color-bordes);
    margin: 0.8rem 0;
}
#datos-fisicos{
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 1.5rem;
}
.label-datos{
    display: flex;
    flex-flow: column;
    gap: 5px;
    margin: 0.2rem 0;
}
#nombre{
    grid-column: 1/-1;
}
.label-datos span, .label-datos{
    font-weight: bold;
    font-size: 0.8rem;
}
.input-datos{
    height:3rem;
    padding: 10px;
    border-radius: var(--borde-redondeado);
    background: var(--fondo-inputs);
    border: 1px solid var(--color-bordes);
}
.input-datos:focus{
    border: 1.5px solid var(--color-borde-naranja);
    outline: none;
    box-shadow: 0 0 15px var(--color-sombras);
}
#perfil-deportivo{
    border: none;
}
.posiciones{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 15px 0;
}
.posicion-input{
    display: flex;
    flex-flow: column nowrap;
    height: 4rem;
    background: var(--fondo-inputs);
    justify-content: center;
    align-items: center;
    border-radius: var(--borde-redondeado-inputs);
    border: 1px solid var(--color-bordes);
    cursor: pointer;
}
.posicion-input:has(input:checked){
    color: var(--naranja);
    background: var(--input-seleccionado);
    border: 1px solid var(--color-borde-naranja);
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.posicion-input input, .estilo-input input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.iniciales{
    font-family: var(--fonts-titulos);
    font-weight: bold;
    font-size: 1.2rem;
}
.nombre_posicion{
    font-size: 0.6rem;
}
.estilo-juego{
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
@media (hover:hover) and (pointer: fine){
    .posicion-input:hover{
        border: 1px solid var(--color-borde-naranja);
        box-shadow: 0 0 15px var(--color-sombras);
    }
    .estilo-input:hover{
        border: 1px solid var(--color-borde-naranja);
        box-shadow: 0 0 15px var(--color-sombras);
    }
    .submit-btn:hover{
        transform: translateY(-3px);
        box-shadow: 0 0 30px var(--color-sombras);
    }
    .submit-btn:disabled{
        opacity:.5;
        cursor:not-allowed;
        box-shadow:none;
    }
}
.estilo-input{
    height: 4rem;
    display: flex;
    flex-flow: column;
    padding: 12px;
    background: var(--fondo-inputs);
    border-radius: var(--borde-redondeado-inputs);
    border: 1px solid var(--color-bordes);
    position: relative;
}
.estilo-input::after{
    content: "";
    position: absolute;
    align-self: flex-end;
    top: 38%;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid #424242;
    border-radius: 50%;
}
.estilo-input:has(input:checked)::after{
    content: "";
    width: 10px;
    height: 10px;
    background: radial-gradient(white, var(--naranja) );
    border-radius: 50%;
    border: 5px solid var(--naranja);
}
.estilo-input:has(input:checked){
    background: var(--input-seleccionado);
    border: 1px solid var(--color-borde-naranja);
    .estilo{
        color: var(--naranja);
    }
    transition: background 0.3s, color 0.3s, border 0.3s;
}
.estilo{
    color: white;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 0.9rem;
}
.descripcion_estilo{
    font-size: 0.8rem;
}
.submit-btn{
    margin: 2rem 0 1rem;
    width: 100%;
    height: 3rem;
    border-radius: var(--borde-redondeado-inputs);
    background: var(--naranja);
    outline: none;
    border: none;
    font-family: var(--fonts-titulos);
    font-size: 1.1rem;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
}
.submit-btn:active{
    background-color: var(--color-sombras);
    transform: scale(0.98);
    box-shadow: 0 0 50px var(--color-sombras);
}
.submit-btn:focus-visible{
    outline:2px solid #FF5E14;
    outline-offset:2px;
}
footer{
    height: 5rem;
    display: flex;
    border-top: 1px solid var(--color-bordes);
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--fonts-subtitulos);
    font-size: 1.2rem;
}
@media (max-width: 395px){
    form h3{
        font-size: 1.6rem;
    }
}
@media (min-width: 768px){
    .estilo-juego{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px){
    .caracteristicas, .crear-perfil{
        width: min(90%, 700px);
    }
}